    #breadcrumb {
        width: 100%;
        display: flex;
        padding: 10px 0 20px 0;

        .breadcrumb-left {
            flex-basis: 50%;
            display: flex;
            justify-content: left;
            align-items: center;

            a {
                padding: 0 10px;
                color: #58595B;
                font: normal 600 15px 'SABIC Typeface Text Light', arial, helvetica;
                letter-spacing: 1px;
            }

            a:first-child {
                padding-left: 0px;
            }

            a.active {
                color: #939598;
                font: normal normal 15px 'SABIC Typeface Text Light', arial, helvetica;
            }

            span {
                color: #58595B;
            }

            span.active {
                color: #939598;
            }
        }

        .breadcrumb-right {
            flex-basis: 50%;
            display: flex;
            justify-content: right;
            align-items: center;

            #calendar {
                display: flex;

                a {
                    background: #EAEBEC;
                    color: #939598;
                    padding: 10px;
                    margin: 0 0 0 7px;
                    border-radius: 5px;
                    font-size: 14px;
                    letter-spacing: 0.5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span {
                        color: #58595B;
                        margin: 0 5px;
                    }

                    span.calen-date {
                        color: #009FDF
                    }

                    span.calen-icon {
                        width: 13px;
                        height: 13px;
                        display: flex;

                        img {
                            max-width: 100%;
                        }
                    }
                }

                a:first-child {
                    padding: 10px 15px
                }

                a.mobile-calendar {
                    display: none
                }
            }
        }
    }


    // responsive design
    @media screen and (max-width:1700px) {
        #content {
            .content-inner {
                #breadcrumb {
                    .breadcrumb-left {
                        flex-basis: 45%;
                    }

                    .breadcrumb-right {
                        flex-basis: 55%;
                    }
                }
            }
        }
    }

    @media screen and (max-width:1280px) {
        #content {
            .content-inner {
                #breadcrumb {
                    width: 100%;
                    display: flex;
                    padding: 10px 0 20px 0;

                    .breadcrumb-left {
                        flex-basis: 90%;
                        flex-wrap: wrap;

                        a {
                            font-size: 12px;
                            padding: 0 7px;
                        }
                    }

                    .breadcrumb-right {
                        flex-basis: 10%;

                        #calendar {
                            a {
                                display: none
                            }

                            a.mobile-calendar {
                                display: block;
                                width: 13px;
                                height: 13px;
                                display: flex;

                                img {
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }