//asset model
#asset-model {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;

    #asset-model-left {
        flex-basis: 70%;
        display: flex;
        justify-content: flex-start;
        border-radius: 5px;
        flex-direction: column;

        .asset-model-left-inner {
            background: #fff;
            box-shadow: 0px 0px 18px #eaeaea;

            .sensor-filter {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;

                .title {
                    font-size: 20px;
                    display: flex;
                    color: #58595B;
                    padding: 0 0 0 30px;
                    font: normal 600 16px 'SABIC Typeface Text Regular', arial, helvetica;
                    letter-spacing: 1px;
                }

                .sensor-time {
                    color: #009FDF;
                    font-size: 16px;

                    span {
                        color: #939598;
                        padding: 0 15px 0 30px;
                    }
                }

                .sensor-options {
                    padding: 0 30px;

                    select {
                        border: 0px;
                        font-size: 17px;
                        letter-spacing: 1px;
                        color: #939598;
                        padding: 0 10px;
                    }
                }
            }

            .asset-name {
                padding: 10px 0 10px 30px;
                font-size: 16px;
                letter-spacing: 1px;
                color: #939598
            }

            .asset-plot-graph {
                text-align: center;

                img {
                    max-width: 100%;
                }
            }
        }

        .asset-plot-status {
            display: flex;
            justify-content: space-around;
            gap: 20px;
            padding: 20px;
            margin: 20px 0 0 0;
            background: #fff;
            box-shadow: 0px 0px 18px #eaeaea;

            div {
                flex-basis: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            div span {
                margin: 0 10px;
            }

            div span.uparrow {
                display: block;
                overflow: hidden;
                position: relative;
                height: 7px;
                width: 26px;
                margin: 0 10px;
            }

            div span.uparrow:before {
                border: 7px solid transparent;
                content: ' ';
                display: block;
                position: absolute;
                z-index: 2;
                border-bottom-color: #aaa;
                left: 2px;
                bottom: 0;
            }

            div span.downarrow {
                display: block;
                overflow: hidden;
                position: relative;
                height: 7px;
                width: 26px;
                margin: 0 10px;
            }

            div span.downarrow:before {
                border: 7px solid transparent;
                content: ' ';
                display: block;
                position: absolute;
                z-index: 2;
                border-top-color: #aaa;
                left: 2px;
                top: 0;
            }

            div span.greeny:before {
                border-bottom-color: #2EB541
            }

            div span.redy:before {
                border-top-color: #E35205
            }

            div span.amhi-slider {
                background: rgb(255, 16, 0);
                width: 200px;
                height: 12px;
                border-radius: 8px;
                background: linear-gradient(90deg, rgba(255, 16, 0, 1) 0%, rgba(255, 205, 0, 1) 51%, rgba(48, 182, 64, 1) 100%);
                position: relative;
                margin-right: 20px;

                i {
                    color: #fff;
                    font-size: 9px;
                    letter-spacing: 1px;
                    font-weight: bold;
                    font-style: normal;
                    position: absolute;
                    top: -3px;
                    width: 30px;
                    height: 20px;
                    padding-right: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 99;
                    -webkit-animation: fadeIn 1s ease-in-out 3s forwards;
                    -webkit-animation-name: run;
                    -webkit-animation-duration: 5s;
                    animation: 3s forwards;
                    animation-name: run;
                    animation-duration: 6s;
                }

                i::after {
                    content: '';
                    width: 4px;
                    height: 20px;
                    border-radius: 10px;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    background: #58595B;
                }

                i.abefore {
                    padding-right: 5px;
                }

                i.aafter {
                    padding-left: 5px;
                }

                i.abefore::after {
                    right: 0px;
                }

                i.aafter::after {
                    left: 0px;
                }
            }

            div.asset-status-graph {
                background: #ccc;
                border-radius: 5px;
                flex-basis: 5%;
            }

            div img {
                width: 40px;
                height: 40px;
            }
        }

    }

    #asset-model-right {
        flex-basis: calc(30% - 85px);
        padding: 30px;
        background: #fff;
        box-shadow: 0px 0px 18px #eaeaea;
        display: flex;
        flex-direction: column;
        border-radius: 5px;

        .right-title {
            display: flex;
            color: #58595B;
            font: normal 600 17px 'SABIC Typeface Text Regular', arial, helvetica;
            letter-spacing: 1px;
        }

        .right-asset-name {
            padding: 0 0 10px 0;
            font: normal normal 17px 'SABIC Typeface Text Light', arial, helvetica;
            color: #939598;
            margin: 10px 0
        }

        .accordian-title,
        .accordian-title-active {
            font-size: 20px;
            background: #EAEBEC;
            font: normal 500 17px 'SABIC Typeface Text Regular', arial, helvetica;
            padding: 10px 30px;
            margin-bottom: 1px;
            position: relative;

            span {
                display: flex;
                position: absolute;
                right: 20px;
                top: 5px;
                font-size: 30px;
            }
        }

        .accordian-body {
            margin-bottom: 20px;
        }

        .accordian-title-active {
            background: #C5E7F7;
        }

        .sensor-plot-list {
            padding: 0 30px;

            div {
                padding: 10px;
                color: #58595B;
                display: flex;
                justify-content: flex-start;

                span {
                    width: 15px;
                    height: 15px;
                    margin-right: 10px
                }

                span.red {
                    background: red;
                }
            }
        }

        .asset-model-health-index {
            .amhi-row-title {
                display: flex;
                width: 100%;

                div {
                    flex-basis: 65%;
                    padding: 5px;
                    border: 1px #fff solid;
                    background: #f5f5f5;
                    font-size: 12px;
                    letter-spacing: 1px;
                    font-weight: 600;
                }

                div:first-child {
                    flex-basis: 35%;
                }
            }

            .amhi-row {
                display: flex;
                width: 100%;

                div {
                    flex-basis: 65%;
                    padding: 5px;
                    border: 1px #fff solid;
                    display: flex;
                    align-items: center;
                }

                div:first-child {
                    flex-basis: 35%;
                }

                div:last-child span.uparrow {
                    display: block;
                    overflow: hidden;
                    position: relative;
                    height: 7px;
                    width: 26px;
                    margin: 0 20px;
                }

                div:last-child span.uparrow:before {
                    border: 7px solid transparent;
                    content: ' ';
                    display: block;
                    position: absolute;
                    z-index: 2;
                    border-bottom-color: #aaa;
                    left: 2px;
                    bottom: 0;
                }

                div:last-child span.downarrow {
                    display: block;
                    overflow: hidden;
                    position: relative;
                    height: 7px;
                    width: 26px;
                    margin: 0 20px;
                }

                div:last-child span.downarrow:before {
                    border: 7px solid transparent;
                    content: ' ';
                    display: block;
                    position: absolute;
                    z-index: 2;
                    border-top-color: #aaa;
                    left: 2px;
                    top: 0;
                }

                div:last-child span.greeny:before {
                    border-bottom-color: #2EB541
                }

                div:last-child span.redy:before {
                    border-top-color: #E35205
                }

                span.amhi-slider {
                    background: rgb(255, 16, 0);
                    width: 90%;
                    height: 12px;
                    border-radius: 8px;
                    background: linear-gradient(90deg, rgba(255, 16, 0, 1) 0%, rgba(255, 205, 0, 1) 51%, rgba(48, 182, 64, 1) 100%);
                    position: relative;
                    margin-right: 20px;

                    i {
                        color: #fff;
                        font-size: 9px;
                        letter-spacing: 1px;
                        font-weight: bold;
                        font-style: normal;
                        position: absolute;
                        top: -3px;
                        width: 30px;
                        height: 20px;
                        padding-right: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        z-index: 99;
                        -webkit-animation: fadeIn 1s ease-in-out 3s forwards;
                        -webkit-animation-name: run;
                        -webkit-animation-duration: 5s;
                        animation: 3s forwards;
                        animation-name: run;
                        animation-duration: 6s;
                    }

                    i::after {
                        content: '';
                        width: 4px;
                        height: 20px;
                        border-radius: 10px;
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        background: #58595B;
                    }

                    i.abefore {
                        padding-right: 5px;
                    }

                    i.aafter {
                        padding-left: 5px;
                    }

                    i.abefore::after {
                        right: 0px;
                    }

                    i.aafter::after {
                        left: 0px;
                    }
                }
            }
        }

        .asset-model-health-index>div:nth-child(2n) {
            background: #F7F7F7;
        }

        .asset-model-failure-prediction {
            .amfp-row-title {
                display: flex;
                width: 100%;

                div {
                    flex-basis: 50%;
                    padding: 5px;
                    border: 1px #fff solid;
                    background: #f5f5f5;
                    font-size: 11px;
                    letter-spacing: 1px;
                    font-weight: 600;
                }

                .asset-model-failure-prediction>div:nth-child(2n) {
                    background: #F7F7F7;
                }

                div:first-child {
                    flex-basis: 30%;
                }

                div:nth-child(2) {
                    flex-basis: 20%;
                }
            }

            .amfp-row {
                display: flex;
                width: 100%;

                div {
                    flex-basis: 50%;
                    padding: 5px;
                    border: 1px #fff solid;
                }

                div:first-child {
                    flex-basis: 30%;
                }

                div:nth-child(2) {
                    flex-basis: 20%;
                }
            }

            .amfp-row:hover {
                background: #009FDF;
                color: #fff !important
            }
        }

        .asset-model-failure-prediction>div:nth-child(2n) {
            background: #F7F7F7;
        }


    }

}

//asset menu ended

// responsive design
@media screen and (max-width:1700px) {
    #asset-model {
        margin: 10px 0;

        #asset-model-right {
            padding: 10px;
            flex-basis: calc(30% - 30px);

            .asset-model-health-index {
                .amhi-row {
                    div:last-child span.uparrow {
                        margin: 0 10px
                    }

                    div:last-child span.downarrow {
                        margin: 0 10px
                    }
                }
            }
        }
    }
}


@media screen and (max-width:900px) {
    #container {
        #header {
            width: 100%;

            .header-inner {
                display: flex;
                align-items: center;
                padding: 0 2%;
                width: 96%;
            }

            .mobilemenu {
                display: block;

                .mobile-menu-header {
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    .icons {
                        display: flex;
                        width: 100%;
                        justify-content: flex-end;
                        margin: 10px 0;

                        a {
                            width: 30px;
                            margin: 0 5px;

                            img {
                                max-width: 100%;
                                border-radius: 10px;
                            }
                        }
                    }

                    .username {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        width: 100%;

                        a {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            border: 1px #dbdfe8 solid;
                            border-radius: 20px;

                            span {
                                width: 30px;
                                height: 30px;

                                img {
                                    max-width: 100%;
                                    border-radius: 50px;
                                }
                            }

                            span:last-child {
                                display: flex;
                                justify-content: center;
                                margin: 0 10px;
                                align-items: center;
                                width: unset;
                                color: #fff;
                                font: normal normal 13px 'SABIC Typeface Text Light', arial, helvetica;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
            }

            .logoname,
            .middle {
                display: none
            }

            .logo {
                flex-basis: 100%;
            }
        }

        #content {
            .content-inner {

                //assetmodel
                #asset-model {
                    margin: 10px 0;
                    flex-direction: column;

                    #asset-model-left {
                        flex-basis: 100%;

                        .asset-plot-graph {
                            width: 100%;
                            overflow-x: scroll;

                            img {
                                max-width: unset;
                            }
                        }

                        .asset-plot-status {
                            flex-direction: column;
                            justify-content: flex-start;
                            position: relative;

                            div {
                                justify-content: flex-start;
                            }

                            div span {
                                margin: 0px;
                            }

                            div span:nth-child(2) {
                                width: 110px
                            }

                            div span.amhi-slider {
                                width: 30%
                            }

                            div span.downarrow,
                            div span.uparrow {
                                margin: 0px;
                            }

                            div:last-child {
                                position: absolute;
                                top: 30px;
                                right: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:700px) {
    #container {
        #content {
            .content-inner {

                //assetmodel
                #asset-model {
                    margin: 10px 0;
                    flex-direction: column;

                    #asset-model-right {
                        .asset-model-health-index {
                            .amhi-row {
                                span.amhi-slider {
                                    width: 100%
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@-webkit-keyframes run {
    0% {
        left: 0;
    }
}

@keyframes run {
    0% {
        left: 0;
    }
}