
    //status start
    #status{
        display: flex;margin:0 0 25px 0;
        div.common {
            width: 100%;
            display: flex;
            flex-direction: row;
            >div {
                flex-basis: 11.1%;
                width: 11.1%;
                padding: 0 1%;
                background: #fff;
                display: flex;
                border-radius:5px;
                margin: 0 1% 0 0;
                display: flex;
                flex-direction: row;
                justify-content:center;
                align-items: center;
                box-shadow:0px 0px 9px #e5e5e5;;
                transition:1s;
                position:relative;z-index:8;
                height:83px;
                >div:first-child{width:38px;height:38px;flex-basis:38px;text-align: center;margin-right:20px;
                img{width:38px;height:38px;}}
                >div:nth-child(2){flex-basis:65%;display: flex;flex-direction:column;justify-content:center;
                    span:first-child{color:#009FDF;font-size:12px;line-height:20px;
                        i{color:#58595B;font-style: normal;}}
                    span:last-child{color:#58595B;font-size:12px;font-family:'SABIC Typeface Text Regular',arial, helvetica;white-space: nowrap;}
                }

                div.showtooltip{display:block} 
                div.closetooltip{display:none}
                div.status-tooltip{
                    background:#2f2f2fe4;color:#58595B;width:200px !important;border-radius:10px;position:absolute;bottom:-150px;left:0px;z-index:9999999999999 !important; padding:15px 30px;z-index:9;margin:15px 0 0 0;
                    .status-tooltip-close{position:absolute;top:-10px;right:-10px;background:#009FDF;color:#fff;font-size:14px;width:30px;height:30px;line-height:30px;border-radius: 50%;text-align: center;}
                    .status-tooltip-head{border-bottom:1px #ccc solid;width:100%;display:flex;margin:0 0 10px 0;height:auto;position:static;padding-bottom:5px;
                            span:first-child{flex-basis:64%;font-size:16px;color:#fff;text-align: left;display:flex;justify-content: flex-start;align-items: center;}
                            span:last-child{flex-basis:34%;font-size:16px;display:flex;justify-content: flex-end;align-items: center;color:#fff;padding-right: 15px;position:relative}
                            span:last-child::after{content:'';width:10px;height:10px;position:absolute;top:0px;left:15px;background-image:  url(../../assets/images/img_tooltip_head_arrow_up.png);background-position:center center;background-color: transparent;background-repeat: no-repeat;}
                        }
                    .status-tooltip-box{overflow-y:scroll;display:flex;flex-direction:column;height:60px; padding:4px 0;
                    .status-tooltiprow{display:flex;width: 100%;margin-right:0px;
                        span:first-child{flex-basis:64%;font-size:12px;color:#fff;text-align: left;display:flex;justify-content: flex-start;align-items: center;}
                        span:last-child{flex-basis:34%;display:flex;justify-content: flex-end;align-items: center;color:#fff;padding-right: 15px;position:relative;}
                        span:last-child::after{content:'';width:10px;height:10px;position:absolute;top:0px;left:15px;background-image:  url(../../assets/images/img_tooltip_arrow_up.png);background-position:center center;background-color: transparent;background-repeat: no-repeat;}
                        span:last-child.st-u::after{background-image:  url(../../assets/images/img_tooltip_arrow_up.png);}
                        span:last-child.st-d::after{background-image:  url(../../assets/images/img_tooltip_arrow_down.png);}
                    }
                    }
                    
                    .status-tooltip-box::-webkit-scrollbar {
                        width: 2px;
                        scrollbar-width: 2px;
                        width: 2px;
                        scrollbar-width: 2px;
                    }
                    .status-tooltip-box::-webkit-scrollbar-track {
                        background-color:transparent;
                        box-shadow:none;
                    }
                    .status-tooltip-box::-webkit-scrollbar-thumb {
                        background-color:#777777;
                        outline: 1px solid #FBFCFD;
                        background-color: #EAEBEC;border-radius: 8px;
                        outline: 1px solid #EAEBEC; background-clip: padding-box;  
                    }

                }
                div.status-tooltip:hover{box-shadow:none;}
                div.status-tooltip::after{content: "";position: absolute;bottom: 100%;left:16%;margin-left: -5px;border-width: 10px;border-style: solid;border-color:  transparent transparent #2f2f2fe4 transparent;}
                div.status-tooltip::before{content: "";position: absolute;top: -15px;left: 0;height: 15px;width: 100%;background: transparent;}

            }
            >div:hover{
                box-shadow: 0px 0px 9px #ccc;}
            div:last-child{margin-right:0px;}
        }
    }

    // responsive design
@media screen and (max-width:1800px){
    #content{
        .content-inner{  
                #status {
                    div.common{
                        > div{
                            flex-basis: 11.1%;
                            width: 11.1%;
                            div:last-child{
                                span:last-child{font-size:11px;}
                            }
                            > div:first-child{margin-right:10px;}
                        }
                        > div:last-child{margin: 0 0 0 0;
                            } 
                    }
                }
        }
    }
}

@media screen and (max-width:1440px){
    //status
    #status {height:auto;
        div.common{
            div{
                div:first-child{flex-basis:40%;img{max-width: 100%;}}
                div:last-child{
                    span:last-child{font-size:11px;}
                } 
            }
        }
    }
}


@media screen and (max-width:1280px){
    #content{
        .content-inner{
            // status
            #status{
                div.common{
                    >div{
                        flex-direction:column;height:auto;padding:0.5%;flex-basis:12.2%;
                        div:first-child{margin-right:0px;
                            img{width:80%;}
                        }
                        div:last-child{width:100%;
                            span{text-align:center;}
                        }
                    }
                }
                //div.common div:first-child{flex-basis:9%}
                //div:nth-child(2),div:nth-child(6){flex-basis:8%}
                //div.common div:nth-child(7),div:nth-child(8){flex-basis:17.5%}
            } 

        }
    }
}
@media screen and (max-width:900px){
    #container{
        #content{
            .content-inner{
                // status
                #status{margin-bottom: 1vh;
                    > div.common{flex-wrap: wrap;
                        > div{flex-basis: 23.5%;margin: 2px 0.5% 2px 0;
                            div:first-child{display: none;}
                            div.status-tooltip{height:auto;top:60px;}
                        }
                        >div:nth-child(4),>div:nth-child(8){margin-right:0;flex-basis: 24%;}
                    }
                }
            }
        }
    }
}

@media screen and (max-width:400px){
    #container{
        #content{
            .content-inner{
                //status
            #status{
                div.common{
                    >div{
                        flex-direction:column;height:auto;padding:0.5%;flex-basis:24%;
                        div:first-child{margin-right:0px;
                            img{width:80%;}
                        }
                        div:nth-child(2){
                            span:last-child{font-size:10px;}
                        }
                        div:last-child{width:100%;
                            span:last-child{font-size:10px;}
                        }
                    }
                    >div:nth-child(2),div:nth-child(6){flex-basis:16%}
                    >div:nth-child(3),div:nth-child(7){flex-basis:26%}
                    >div:nth-child(4),div:nth-child(8){flex-basis:28%}
                }
                
                //div.common div:nth-child(7),div:nth-child(8){flex-basis:17.5%}
            } 
            }
        }
    }
}



  
