$blue: #1a3670; // Header bg
$white: #fff; // Header bg
$device-login-bg-color: rgba(26, 54, 112, .8);
$slightly-lighter-blue: #1c417a; // Header dropdown bg


// ROCC Text Font Size
$header-text-font-size: 1.25rem;
$body-text-font-size: 1rem;
$label-text-font-size: .875rem;
$validate-text-font-size: .75rem;
$btn-text-font-size: $body-text-font-size;

//old
// $header_logo_color: #939598;
// $header_menu_color: #4d4d4d;
// $header_menu_background_active: #FBFAFA;
// $blue: #009FDF;
// $font_headline_lt: SabicHeadlineLight;
// $font_headline_rg: SabicHeadlineRegular;
// $font_lt: SabicLight;
// $font_rg: SabicRegular;