//asset menu
#asset-menu {
    background: #fff;
    box-shadow: 0px 0px 18px #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 80px;
    padding: 0 20px;

    a {
        font-size: 14px;
        flex-basis: 14%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #58595B;
        padding: 10px
    }

    a:hover {
        background: #FBFAFA;
        color: #009FDF;
    }

    a.active {
        background: #FBFAFA;
        color: #009FDF;
    }
}


@media screen and (max-width:700px) {
    #asset-menu {
        flex-wrap: wrap;
        padding: 0px;
        height: auto;

        a {
            flex-basis: calc(46% - 2px);
            padding: 5px 2%;
            border-bottom: 1px #ccc dotted;
            border-right: 1px #ccc dotted;
            justify-content: flex-start;
        }

        a:last-child {
            flex-basis: 98%
        }
    }
}