//asset menu
#asset-menu {
    background: #fff;
    box-shadow: 0px 0px 18px #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 80px;
    padding: 0 20px;

    a {
        font-size: 14px;
        flex-basis: 14%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #58595B;
        padding: 10px
    }

    a:hover {
        background: #FBFAFA;
        color: #009FDF;
    }

    a.active {
        background: #FBFAFA;
        color: #009FDF;
    }
}
    //pmt menu
    #pmt-menu{
        background:#fff;box-shadow: 0px 0px 18px #eaeaea;display:flex;justify-content: center;align-items: center;border-radius:5px;padding:15px 20px;margin-bottom:15px;
        a{font-size:0.9em;flex-basis:20%;display:flex;justify-content: center;align-items: center;color:#58595B; padding: 5px 0;}
        a:hover{background:#FBFAFA;color:#009FDF;}
        a.active{background:#FBFAFA;color:#009FDF;}
    }
    @media screen and (max-width:1440px){
        //#pmt-menu
       // #pmt-menu{height:auto;padding:0px;}

    }
@media screen and (max-width:700px) {
    #asset-menu {
        flex-wrap: wrap;
        padding: 0px;
        height: auto;

        a {
            flex-basis: calc(46% - 2px);
            padding: 5px 2%;
            border-bottom: 1px #ccc dotted;
            border-right: 1px #ccc dotted;
            justify-content: flex-start;
        }

        a:last-child {
            flex-basis: 98%
        }
    }
}
@media screen and (max-width:600px){
    #container{
        #content{
            .content-inner{
                //pmt menu
                #pmt-menu{
                    flex-wrap: wrap;padding:0px;height:auto;
                    a{flex-basis:calc(50% - 2px);font-size:11px;padding:8px 2% 4px 2%;border-bottom:1px #ccc dotted;border-right:1px #ccc dotted;justify-content:flex-start;}
                    a:nth-child(2n),a:nth-child(5){border-right:0px;}
                    a:nth-child(1),a:nth-child(3){flex-basis:42%}
                    a:last-child{flex-basis:98%}
                }
            }
        }
    }
}