// @import url("../css/variables.scss");
//sensor plot
//old
$header_logo_color: #939598;
$header_menu_color: #4d4d4d;
$header_menu_background_active: #FBFAFA;
$blue: #009FDF;
$font_headline_lt: SabicHeadlineLight;
$font_headline_rg: SabicHeadlineRegular;
$font_lt: SabicLight;
$font_rg: SabicRegular;
$dark_grey: #58595B;
$light_grey: #D4D4D4;
$blue: #009FDF;

#sensor {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;

    #sensor-plot-left {
        flex-basis: 73%;
        display: flex;
        justify-content: flex-start;
        border-radius: 5px;
        flex-direction: column;
        background: #fff;
        box-shadow: 0px 0px 18px #eaeaea;

        .title {
            font-size: 16px;
            display: flex;
            color: $header_menu_color;
            font-family: $font_headline_rg;
        }

        .asset-name {
            padding: 10px 0 10px 0;
            font-size: 12px;
            letter-spacing: 1px;
            color: $header_logo_color
        }

        #sensor-plot {
            padding: 30px 20px 20px 20px;

            .sensor-filter {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                .sensor-time {
                    font-size: 14px;
                    flex-basis: 36%;
                    display: flex;
                    justify-content: space-between;

                    .sensor-stamp {
                        span:first-child {
                            padding-right: 10px;
                        }

                        span:last-child {
                            color: #009FDF;
                            white-space: nowrap;
                        }
                    }

                    .sensor-deviation {
                        margin-left: 2%;

                        span {
                            color: #939598;
                        }
                    }

                }

                .sensor-options {
                    display: flex;
                    flex-basis: 100%;
                    gap: 1%;
                    justify-content: flex-end;
                    margin: 15px 0;

                    select {
                        border: 0px;
                        font-size: 14px;
                        letter-spacing: 1px;
                        color: #939598;
                        padding: 0 10px;
                        border-radius: 3px;
                        font-family: inherit;
                    }

                    .css-b62m3t-container {
                        min-height: 25px;
                        background: #FBFAFA;
                        flex-basis: 25%;

                        .css-13cymwt-control {
                            border: 0px;
                            font-size: 14px;
                            min-height: 25px;
                            background: #FBFAFA;
                            border-radius: 3px
                        }

                        .css-1u9des2-indicatorSeparator {
                            display: none;
                        }
                    }
                }
            }
        }

        #deviation-plot {
            padding: 30px 20px;
        }

        .sensor-plot-graph {
            text-align: center;

            img {
                max-width: 100%;
            }
        }

    }

    #sensor-plot-right {
        flex-basis: calc(27% - 25px);
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0px 0px 18px #eaeaea;

        .right-title {
            font-size: 16px;
            display: flex;
            color: $header_menu_color;
            font-family: $font_headline_rg;
        }

        .sensor-calendar {
            position: absolute;
            top: 30px;
            right: 20px;
            color: #939598;
            margin: 0 0 0 7px;
            border-radius: 5px;
            font-size: 16px;
            letter-spacing: 0.5px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 2s;
            font-family: $font_rg;

            span {
                color: #58595B;
                margin: 0 5px;
            }

            span.calen-date {
                color: #009FDF
            }

            span.calen-icon {
                width: 20px;
                height: 20px;
                display: flex;

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .sensor-calendar:hover {
            color: #009fdf;
            transition: 0.5s;

            span:first-child {
                color: #58595B
            }

            span {
                color: #009fdf
            }
        }

        #sensor-names {
            padding: 30px 20px;
            position: relative;
        }

        #measure-names {
            padding: 30px 20px;
            position: relative;
        }

        .sensor-plot-list {
            padding: 20px 0 0 0;

            div {
                padding: 10px 0;
                color: #58595B;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                span:first-child {
                    width: 25px;
                    height: 10px;
                    margin-right: 10px;
                    border-radius: 50px;
                }

                span:last-child {
                    width: 80%;
                    font-size: 12px;
                }
            }
        }
    }
}

.cal-show {
    display: block
}

.cal-hide {
    display: none
}

#calendar-popup {
    display: none;
    background: #EDEFF3;
    color: #58595B;
    width: 245px;
    padding: 25px;
    border-radius: 3px;
    position: absolute;
    top: 50px;
    left: -200px;
    z-index: 999;
    box-shadow: 0 5px 5px $light_grey;

    .calendar-filter {
        display: flex;
        width: 100%;
        margin-bottom: 25px;
        flex-direction: row;
        justify-content: space-between;

        .cf-left,
        .cf-right {
            display: flex;
            flex-basis: 50%;
            justify-content: flex-start;
        }

        .cf-right {
            justify-content: flex-end;
        }

        span {
            flex-basis: 17%;
            padding-right: 3%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        input {
            width: 60%;
            height: 30px;
            border-radius: 2px;
            border: 0px;
            padding: 0 3%
        }
    }

    .calendar-others {
        display: none;
        margin-bottom: 10px;

        a {
            background: #fff;
            padding: 1%;
            width: 17%;
            margin: 0 0 0 1%;
            border-radius: 5px;
            font-size: 12px;
            letter-spacing: 0.5px;
            text-align: center;
            line-height: 20px;
        }

        a:first-child {
            padding: 1%;
        }
    }

    .calendar-date {
        background: #fff;
        color: $blue;
        border-radius: 2px;
        margin-bottom: 25px;
        height: 25px;
        line-height: 25px;
        padding: 5px;
    }

    .calendar-box {
        background: #fff;
        border-radius: 10px;
        min-height: 140px;
    }
}

#calendar-popup::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 15px;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #EDEFF3 transparent;
}

@media screen and (max-width:1700px) {
    #sensor {
        #sensor-plot-left {
            #sensor-plot {
                .sensor-filter {
                    flex-wrap: wrap;

                    .sensor-time {
                        flex-basis: 44%;
                    }
                }
            }
        }

        #sensor-plot-right {
            .sensor-calendar {
                position: static;
                padding: 10px 0 0 0;
                text-align: left;
                color: #939598;
                margin: 0;
                border-radius: 5px;
                font-size: 16px;
                letter-spacing: 0.5px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                transition: 2s;
                gap: 5%;
                font-family: SabicRegular;

                span {
                    color: #0a0e16;
                    margin: 0;
                }
            }
        }

    }
}