//PMT PAGE
#pmt {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;

    #pmt-left {
        flex-basis: 55%;
        display: flex;
        justify-content: flex-start;
        border-radius: 5px;
        flex-direction: column;

        #pmt-asset-card {
            background: #fff;
            box-shadow: 0px 0px 18px #eaeaea;
            padding: 30px;

            .pmt-filter {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .pmt-title {
                    font-size: 20px;
                    display: flex;
                    color: #58595B;
                    font: normal 600 1em 'SABIC Typeface Text Regular', arial, helvetica;
                    letter-spacing: 1px;
                }

                .pmt-time {
                    color: #009FDF;
                    font-size: 16px;

                    span {
                        color: #939598;
                        padding: 0 15px 0 30px;
                    }

                    input {
                        background: #EAEBEC;
                        border: 0px;
                        font-size: 14px;
                        border-radius: 5px;
                    }
                }

                .pmt-options {
                    select {
                        border: 0px;
                        font-size: 17px;
                        letter-spacing: 1px;
                        color: #939598;
                        padding: 0 10px;
                        border-radius: 5px;
                    }
                }
            }

            .pmt-asset-name {
                padding: 10px;
                font-size: 16px;
                letter-spacing: 1px;
                color: #939598;
                padding: 15px 0 15px 0;
            }

        }
    }
}


// responsive design
@media screen and (max-width:1700px) {
    #content {
        .content-inner {
            #pmt {
                #pmt-left {
                    flex-basis: 55%
                }
            }
        }
    }
}

@media screen and (max-width:1440px) {

    //#pmt-menu
    #pmt-menu {
        height: auto;
        padding: 0px;
    }

    #pmt {
        margin: 2vh 0;

        #pmt-left {
            flex-basis: 50%;

            #pmt-asset-card {
                padding: 20px;

                .pmt-filter {
                    .pmt-time {
                        input {
                            width: 100px
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width:1280px) {
    #content {
        .content-inner {
            #pmt {
                flex-direction: column;

                #pmt-left {
                    flex-basis: 100%;
                    margin-bottom: 20px
                }

            }


        }
    }
}

@media screen and (max-width:900px) {
    #container {
        #content {
            .content-inner {

                // PMT
                #pmt {
                    #pmt-left {
                        .pmt-filter {
                            margin-top: 0px;

                            .pmt-title {
                                padding: 0px;
                            }

                            .pmt-time {
                                font-size: 14px;
                            }

                            .pmt-options {
                                select {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:700px) {
    #container {
        #content {
            .content-inner {

                // PMT
                #pmt {
                    #pmt-left {
                        .pmt-filter {
                            flex-wrap: wrap;

                            div {
                                flex-basis: 55%;
                                margin: 0px;
                                padding: 2px 0px;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                            }

                            div:nth-child(2n) {
                                flex-basis: 45%;
                                margin: 0px;
                                padding: 2px 0px;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                            }

                            .pmt-time {
                                span {
                                    padding: 0px;
                                    width: 40%
                                }

                                input {
                                    width: 50%;
                                    margin-right: 2%;
                                    border-radius: 5px;
                                    height: 25px;
                                }
                            }

                            .pmt-options {
                                select {
                                    padding: 0px;
                                    border: 1px #ccc solid;
                                    width: 90%;
                                    border-radius: 5px;
                                    height: 25px;
                                }
                            }
                        }

                        .pmt-asset-name {
                            padding: 5px 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:400px) {
    #container {
        #content {
            .content-inner {

                // PMT
                #pmt {
                    #pmt-left {
                        .pmt-filter {
                            flex-wrap: wrap;

                            div:first-child {
                                width: 60%;
                            }

                            div:nth-child(2) {
                                width: 40%;
                            }

                            div {
                                width: 100%;
                            }

                            .pmt-time {
                                span {
                                    padding: 0px;
                                    margin-right: 0px;
                                    width: 45%
                                }

                                input {
                                    width: 50%;
                                    margin-right: 2%;
                                    border-radius: 5px;
                                }
                            }

                            .pmt-options {
                                select {
                                    padding: 0px;
                                    border: 1px #ccc solid;
                                    border-radius: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}